name: Internship Scrapers

on:
  schedule:
    - cron: "0 */3 * * *"   # every 3 hours
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install Playwright browsers
        run: python -m playwright install chromium

      - name: Run scrapers
        # This ENV variable tells Python: "Look for 'utils' in the main folder"
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          python scrapers/internshala_inp_scraper.py
          python scrapers/aicte_inp_scraper.py
          python scrapers/skill_india_inp.py
          
      - name: Bulk upload to Supabase
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: python -m utils.bulk_upload